body {
    background-color: #F0F4F8;
    color: #333;
}

.search-filters-card {
    background-color: #ece4de;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.search-filters{
    display: flex;
    flex-direction: column;
}

.search-title{
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #333;
} 

.filter-input {
    margin-bottom: 15px;
}

.input-wrapper {
    display: flex;
    align-items: center;
}

.input-wrapper i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.filter-input label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.filter-input input {
    padding: 10px 10px 10px 35px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    width: 100%;
    transition: border-color 0.3s;
}

.filter-input input:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover{
    background-color: #0056b3;
}

.search-button{
    margin-right: 5px;
}